@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


html,
body, #root {
    height: 100%;
    font-family: Montserrat, Open Sans, Roboto;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, rgb(167, 29, 98) 0%,rgb(204, 40, 233) 100%);
}

h1 {
    font-family: 'Bangers', cursive;
}

p,
input,
select,
textarea,
button {
    margin: 0;
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.hero_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
  }
  
  .home_input {
    text-align: center;
    font-size: 24px;
    font-weight: 900px;
    border: 2px solid black;
    border-radius: 12px;
    height: 30px;
  }
  
  .home_input:hover {
    color:white;
    background-color: black;
  }
